[Desktop Entry]
Encoding=UTF-8
Version=0.1
Type=Application
Name=FlashLauncher
Exec=/usr/bin/flashlauncher
Icon=flashlauncher
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable

